.winner{
   font-weight:bold;
}

.looser{
   font-weight:normal;
}

.magtest-qsymbol{
   position:relative;
   top:5px;
}

.magtest-answerline{
    line-height:25px;
}

.magtest-cat-name{
   font-weight:bold;
}

.magtest-error{
   color : #FF0000;
}