{{!
    This file is part of The Magtest Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_magtest/test

    Classes required for JS:
    * none

}}
<!-- mod_magtest/magtest_quiz -->

{{#questions}}
<tr align="top">
<td width="20%" align="right">&nbsp;</td>
<td align="left" colspan="3">
            {{{questiontext}}}
</td>
</tr>
{{#answers}}
<tr align="middle">
    <td width="20%" align="right">&nbsp;</td>
    <td with="10%" align="left" class="magtest-answerline-icon">
        {{#symbolurl}}
        <img class="magtest-qsymbol" src="{{{symbolurl}}}" align="bottom" />
        {{/symbolurl}}
    </td>
    <td class="magtest-answertext">
        {{{answertext}}}
        {{#hashelper}}
        {{{helper}}}
        {{/hashelper}}
        <br/>
    </td>
    <td class="magtest-answerline">
        <input type="radio" name="answer{{qid}}" value="{{aid}}" /><br/>
    </td>
</tr>
{{/answers}}
<tr align="middle">
    <td class="blank-line">&nbsp;</td>
</tr>
{{/questions}}
<!-- /mod_magtest/magtest_quiz -->
